App_WebReferences/ShowTrackerServiceReference/VenueShowService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VenueShowService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1463/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1463/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1463/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1463/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVenueShowService_GetVenues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVenues" />
  </wsdl:message>
  <wsdl:message name="IVenueShowService_GetVenues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVenuesResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueShowService_GetArtists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtists" />
  </wsdl:message>
  <wsdl:message name="IVenueShowService_GetArtists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistsResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueShowService_GetShows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShows" />
  </wsdl:message>
  <wsdl:message name="IVenueShowService_GetShows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueShowService_GetShowVenues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowVenues" />
  </wsdl:message>
  <wsdl:message name="IVenueShowService_GetShowVenues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowVenuesResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueShowService_GetShowArtists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowArtists" />
  </wsdl:message>
  <wsdl:message name="IVenueShowService_GetShowArtists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowArtistsResponse" />
  </wsdl:message>
  <wsdl:portType name="IVenueShowService">
    <wsdl:operation name="GetVenues">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueShowService/GetVenues" message="tns:IVenueShowService_GetVenues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueShowService/GetVenuesResponse" message="tns:IVenueShowService_GetVenues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtists">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueShowService/GetArtists" message="tns:IVenueShowService_GetArtists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueShowService/GetArtistsResponse" message="tns:IVenueShowService_GetArtists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShows">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueShowService/GetShows" message="tns:IVenueShowService_GetShows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueShowService/GetShowsResponse" message="tns:IVenueShowService_GetShows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowVenues">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueShowService/GetShowVenues" message="tns:IVenueShowService_GetShowVenues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueShowService/GetShowVenuesResponse" message="tns:IVenueShowService_GetShowVenues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowArtists">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueShowService/GetShowArtists" message="tns:IVenueShowService_GetShowArtists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueShowService/GetShowArtistsResponse" message="tns:IVenueShowService_GetShowArtists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVenueShowService" type="tns:IVenueShowService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVenues">
      <soap:operation soapAction="http://tempuri.org/IVenueShowService/GetVenues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtists">
      <soap:operation soapAction="http://tempuri.org/IVenueShowService/GetArtists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShows">
      <soap:operation soapAction="http://tempuri.org/IVenueShowService/GetShows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowVenues">
      <soap:operation soapAction="http://tempuri.org/IVenueShowService/GetShowVenues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowArtists">
      <soap:operation soapAction="http://tempuri.org/IVenueShowService/GetShowArtists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VenueShowService">
    <wsdl:port name="BasicHttpBinding_IVenueShowService" binding="tns:BasicHttpBinding_IVenueShowService">
      <soap:address location="http://localhost:1463/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>